<nav class="navbar">
  <a routerLink="/" class="brand">My Dashboard</a>

  <ul class="menu">
    <li><a routerLink="/">Home</a></li>

    <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
      <li><a routerLink="/account">Account</a></li>

      <!-- PLATFORM ADMIN -->
      <li *ngIf="(user$ | async)?.platformRole === 'ADMIN' || (user$ | async)?.platformRole === 'DESIGNER'">
        <a routerLink="/admin/companies">Admin</a>
      </li>

      <li>
        <button class="nav-link text-danger" (click)="logout()">
          Logout
        </button>
      </li>
    </ng-container>

    <ng-template #loggedOut>
      <li><a routerLink="/login">Login</a></li>
    </ng-template>
  </ul>
</nav>
