<div class="container" *ngIf="campaign">
  <h1>{{ campaign.title }}</h1>

  <p>Status: {{ campaign.workflow_status }}</p>

  <p>Updated: {{ campaign.updated_at | date: 'short' }}</p>

  <hr />


<app-campaign-version
  [versions]="versions"
  [campaign]="campaign"
  [isPlatformDesigner]="isPlatformDesigner"
  [isPlatformAdmin]="isPlatformAdmin"
  (uploadVersion)="uploadVersion($event)"
  (updateDropbox)="updateDropbox($event)"
>
</app-campaign-version>


  <h2>Comments</h2>

  <div *ngFor="let c of comments">
    <strong>{{ c.email }}</strong>

    <p>{{ c.message }}</p>

    <hr />
  </div>

  <textarea [(ngModel)]="newComment"></textarea>

  <button (click)="addComment()">Comment</button>

  <hr />

  <button *ngIf="isPlatformAdmin" (click)="approveCampaign()">Approve Campaign</button>
</div>
